.App {
  padding: 20px;
  text-align: left;
}

.won-card {
  background-color: #4da375;
}
.lost-card {
  background-color: #a34d5d;
}

.no-match-played-card {
  background-color: #d7f178;
  padding: 20px;
  border-style: dotted;
}
