.App {
  padding: 20px;
  text-align: left;
}

.won-card {
  background-color: rgb(77, 163, 117);
}
.lost-card {
  background-color: rgb(163, 77, 93);
}

.won-card:hover {
  box-shadow: 0 20px 26px 0 rgba(40, 146, 7, 0.2);
}

.lost-card:hover {
  box-shadow: 0 20px 26px 0 rgba(236, 16, 16, 0.2);
}

.no-match-played-card {
  background-color: #66baeb;
  padding: 20px;
  border-style: dotted;
}
.pnf-section {
  padding: 200px;
  align-self: center;
  justify-self: center;
  text-align: center;
  text-shadow: #66baeb;
  border-style: dashed;
}

.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: rgb(64, 65, 58);
  align-self: center;
  .footer-text {
    align-self: center;
    justify-self: center;
    text-align: right;
  }
}
