.AllTeams {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  .ipl-teams-section {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;

    grid-column: span 2;
  }
  .all-teams-section {
    grid-column: span 2;
  }
  .team-name-section {
    text-align: center;
  }
}

.ipl-teams-section-card {
  background-color: blueviolet;
}
.ipl-team-section-card {
  background-color: rgb(147, 118, 175);
}
