.AllTeams {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 20px;
  padding: 5px;

  .ipl-teams-section {
    font-size: 3rem;
    margin-bottom: 20px;
    text-align: justify;
    align-self: start;
    grid-column: span 2;
    margin-top: 5px;
    justify-self: center;
  }

  .ipl-teams-section:hover {
    box-shadow: 0 20px 26px 0 rgba(16, 13, 223, 0.2);
  }

  .ipl-name {
  }

  .team-image {
    grid-column: span 2;
    align-self: start;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 3px;
    width: 210px;
    justify-self: center;
  }

  .all-teams-section {
    width: 250px;
    justify-self: start;

    height: 250px;
  }
  .team-name-section {
    width: 210px;
    //justify-self: center;
    text-align: end;
    margin-top: 10px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .win-loss-count-section {
    text-align: start;

    justify-self: right;
    margin-top: 5px;
  }
  .pie-chart-section {
    margin-top: 4px;
    margin-left: 110px;
    margin-right: 5px;
    margin-bottom: 4px;
    border-style: hidden;
  }
  .stat-teams-section-card {
    background-color: rgb(53, 59, 59);
    // border: 1px;
    border-style: dotted;
  }
  .played-won-lost-section {
    padding: 3 px;
  }
}
