.BallByBallDetailsCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  // padding: auto;
  border-style: dotted;
  padding: 10px;

  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(64, 65, 58);
  color: rgb(255, 255, 255);

  .score-section {
    grid-column: span 2;
    justify-self: start;
    align-self: start;
    padding: 10px;
  }
  .bowl-detail-section {
    grid-column: span 2;
    justify-self: start;
    align-self: start;
    padding: 10px;
  }
  .over-highlight-section {
    grid-column: span 1;
    //border-style: groove;
    //border-width: 1px;
    text-align: center;
    justify-self: center;
    align-self: center;
    padding: 2px;
    height: 10 px;
    width: 100px;
  }
  .no-match-played-card {
    background-color: #000000;
    padding: 20px;
    border-style: dotted;
  }
  .out-card {
    background-color: #e73414;
    padding: 20px;
    border-style: dotted;
  }
}
