.MatchSummaryCard {
  display: grid;

  height: 500px;
  width: 200px;
  padding: 10px;
  margin-bottom: 1px;
  border-style: dotted;
  align-self: center;
  padding-top: 2px;
  .match-date,
  .team-name,
  .toss-winner-descision,
  .match-winner-result-margin,
  .player-of-the-match,
  .match-venue,
  .match-umpires {
    margin-top: 5px;
    align-self: center;
    justify-self: center;
    text-align: center;
  }
  .team-name {
    align-self: center;
    justify-self: center;
    text-align: center;
  }
}
