.TeamPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  .team-name-section {
    grid-column: span 3;
    justify-self: start;
    align-self: end;
    color: white;
  }

  .team-name {
    font: 100;
  }
  .last-match-summary-section {
    grid-column: span 4;
  }
  .match-summary-section {
    grid-column: span 1;
  }

  .win-loss-section {
    justify-self: center;
  }

  .team-image {
    align-self: end;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 3px;
    width: 210px;
  }
}
