.TeamStatistics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  .team-name-section {
    grid-column: span 2;
    text-align: center;
    align-self: center;
    margin-top: 5px;
  }

  .team-image {
    grid-column: span 2;
    align-self: start;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 3px;
    width: 210px;
  }
  .win-vs-loss {
    grid-column: span 1;
  }

  .win-loss-count-section {
    text-align: right;

    & > p {
      margin-right: 4px;
    }
    & > h4 {
      margin-right: 4px;
    }
  }
  .pie-chart-section {
    margin-top: 4px;
    margin-left: 100px;
    margin-right: 4px;
    margin-bottom: 4px;
    border-style: hidden;
  }

  .stat-teams-section-card {
    background-color: rgb(81, 85, 85);
    border: 1px;
    border-style: dashed;
  }
}
